header {
  height: 60px;
  width: 100%;
  background-color: white;
}

.headerContainer {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 93%;
}

.logo {
  height: 100%;
  width: 200px;
  background: url('../../images/logo.svg') no-repeat center;
  background-size: contain;
}

.headerBtn {
  height: 100%;
  width: auto;
  outline: none;
  border: 0;
  border-left: 1px solid #f4f4f4;
  text-align: left;
  padding-left: 15px;
  border-radius: 0;
  font-family: Avenir-Medium;
  font-size: 14px;
  color: #50505a;
  letter-spacing: 0;
}

.headerBtn span {
  margin-right: 10px;
}

.headerBtn.active {
  color: #05a2da;
}

.profileBtn {
  background: #0098d2;
  width: 200px;
  height: 58px;
  margin-top: -18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.createCampaignIcon {
  background: url('../../images/Navigation/PNG/create_new_campaign.png') no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  visibility: hidden;
}

.logout {
  background: url('../../images/logout.png') no-repeat center;
  background-size: contain;
  height: 100%;
  width: 20px;
  margin: 0 10px;
}

.profile {
  background: #0098d2;
  width: 258px;
  height: 100%;
  position: relative;
}

.avatar {
  font-family: Avenir-Medium;
  height: 100%;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.homeIcon {
  background: url('../../images/header/home.svg') no-repeat;
  width: 23px;
  height: 23px;
  background-size: contain;
  margin: -7px 12px -7px 0;
}

.settingIcon {
  font-size: 22px;
  margin-right: 10px;
  color: #979797;
  vertical-align: bottom;
  width: 20px;
  height: 20px;
  background-size: contain;
  background: url('../../images/header/settings.svg') no-repeat;
}

.createIcon {
  background: url('../../images/header/create_new_campaign.svg') no-repeat;
  width: 22px;
  height: 22px;
  background-size: contain;
  margin: -5px 15px;
}

.userdetailsDropdownShow {
  clear: both;
  background: white;
  z-index: 1;
  width: 100%;
  padding-left: 10px;
  position: absolute;
  top: 100%;
}

.userdetailsDropdownHide {
  display: none;
}

.manageUserDetails h2 {
  font-size: 18px;
}

.manageUserDetails ul {
  list-style-type: none;
  padding: 0;
}

.manageUserDetails li {
  border-bottom: #cccccc 1px solid;
  padding: 4px 0;
  font-size: 14px;
  line-height: 18px;
}

.manageUserDetails li:nth-last-child(1) {
  border-bottom: 0;
}

.manageUserDetails li a {
  display: block;
  color: #0097d6;
  text-decoration: none;
}

.dropdown_flaticon {
  margin-top: 8px;
  width: 31px;
  color: white;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 9px;
  right: 0;
}

.dropdown_flaticon img {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.dropdown_flaticon.open_panel img {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);

  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
