.wrapper {
  width: calc(100% - 300px);
  height: 100%;
  overflow: auto;
  padding-right: 10px;
  margin-right: 40px;
}

.overviewWrapper {
  width: 100%;
}

.inputField {
  height: 50px;
  background: #efefef;
  display: block;
  border-radius: 5px;
  color: #000000;
  padding: 15px;
  font-size: 13px;
  width: 100%;
}

.container {
  background: #ffffff;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);
  border-radius: 4px;
  padding: 20px 0;
  margin-bottom: 25px;
}

.title {
  font-family: Avenir-Medium;
  font-size: 16px;
  color: #50505a;
  letter-spacing: 0;
  font-weight: normal;
  margin-bottom: 10px;
}

.overviewIcon {
  margin: 0 5px;
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #757575;
}

.inputWrapperClass {
  margin: 30px 50px 0 30px;
  width: 85%;
}

/* campaign objective starts here */

.objectiveWrapper {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.objectiveTable {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: calc(100% - 60px);
  margin: auto;
  border-collapse: collapse;
}

.objectiveTable th {
  background: #0097d6;
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  text-align: center !important;
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
  padding: 15px;
}

.objectiveTable td {
  font-family: Avenir-Roman;
  font-size: 12px;
  color: #50505a;
  letter-spacing: 0;
  height: 40px;
  cursor: pointer;
  padding: 0 !important;
  text-align: center;
  border: 1px solid rgba(151, 151, 151, 0.2);
}

.objectiveTable td .active {
  font-family: Avenir-Medium;
  font-size: 12px;
  color: #0097d6;
  letter-spacing: 0;
  border: 1px solid #0097d6;
}

.objectiveTable td div {
  height: 40px;
  padding: 12px;
  border-width: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleDefine {
  font-family: Avenir-Roman;
  font-size: 12px;
  color: #50505a;
  letter-spacing: 0;
  margin-top: 12px;
}

.titleDefine span.text {
  color: #0097d6;
}

/* campaign objective ends here */

/* budget starts here */

.budgetWrapper {
  padding: 20px;
}

.radioWrapper {
  margin-bottom: 15px;
}

.budgetWrapper hr {
  background: #fefefe;
  box-shadow: 0 1px 2px 0 #fefefe;
  border-radius: 4px;
  height: 1px;
  border: 0;
}

.budgetWrapper p {
  margin: 20px 0;
  font-family: Avenir-Roman;
  font-size: 14px;
  color: #50505a;
  letter-spacing: 0;
}

.budgetMenu {
  min-width: 120px;
  width: auto !important;
}

.budgetMenu ul {
  width: auto;
}

.infoBudget {
  float: none;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.infoBudgetIcon {
  font-size: 12px;
}

.infoInPromotion {
  float: left;
  position: relative;
  left: -30px;
  top: 4px;
}

.budgetInputField {
  font-family: Avenir-Medium;
  font-size: 14px;
  color: #7a858d;
  letter-spacing: 0;
  width: 124px;
  height: 45px;
  border-radius: 5px;
}

.budgetInputFieldWrapper {
  margin: 27px 0 0 40px;
}

.dateLabel {
  margin-right: 60px;
  position: relative;
}

.dateLabel i {
  font-size: 14px;
  top: auto;
  position: absolute;
  bottom: 3px;
  right: 0;
  z-index: 10;
}

.dateLabel > div {
  width: 100px;
  position: relative;
  z-index: 100;
}

.dateLabel label {
  margin-bottom: 8px;
  display: inline-block;
}

.daypicker {
  width: auto !important;
  position: absolute;
  bottom: 100%;
  background: #ffffff;
  left: 0;
}

.dayPickerInput {

}

.dayPickerInputWrapper {
  width: 100px;
  position: relative;
}

/* budget ends here */

/* promotion starts here */
.savedDropdown {
  width: 280px !important;
}

.promotionForm label {
  font-family: Avenir-Roman;
  font-size: 12px;
  color: #50505a;
  letter-spacing: 0;
  display: block;
}

.promotionDropdown {
  width: 87% !important;
  margin-bottom: 10px !important;
}

.promotionWrapper {
  padding: 20px 0;
  background: #ffffff;
  margin-bottom: 40px;
}

.promotionInputWrapperClass {
  margin: 0 50px 30px 0;
  width: 85%;
}

.promotionWrapper hr {
  margin: 20px 0;
  background: #fefefe;
  box-shadow: 0 1px 2px 0 rgba(243, 243, 243, 0.5);
  border-radius: 4px;
  height: 1px;
  border: 0;
}

.promotionWrapper > div {
  margin: 20px 0 10px 20px;
}

.promotionWrapperDisabled {
  opacity: 0.8;
  pointer-events: none;
}

.saveBtn {
  margin: 20px;
  border: 0;
}

.newPromotionSetBtn {
  margin-right: 10px;
}

.locationStatic {
  width: 100%;
  height: 1000px;
  background-size: 100% 1000px;
}

.targetStatic {
  width: 100%;
  height: 600px;
  background-size: 100% 1000px;
}

