@import './../../colors.css';

.wrapper {
  display: block;
  width: 93%;
  background-color: white;
  height: auto;
  margin: 0 auto;
  border-radius: 5px;
}

.header {
  height: 40px;
  width: 100%;
  background: #0097d6;
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  border-radius: 4px 4px 0 0;
  padding: 4px 10px 0 40px;
}

.headerInfoTitle {
  color: white;
  width: 200px;
  font-size: 13px;
  margin-top: 6px;
}

.headerInfoTitle i {
  vertical-align: bottom;
  font-size: 16px;
  margin-right: 5px;
}

.infoBodyWrapper {
  height: calc(100% - 40px);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.filterList {
  width: 65%;
  height: 100%;
}

.searchFilterWrapper {
  width: 35%;
  height: 100%;
  padding: 30px;
}

.headerSearch {
  width: 100%;
  background: url('../../images/search.png') no-repeat 96%, transparent;
  background-color: #efefef;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Avenir-Medium;
  font-size: 14px;
  color: #50505a;
  letter-spacing: 0;
  height: 40px;
}

.headerSearch::-webkit-input-placeholder {
  color: #50505a;
}

.infoDefaultText {
  margin: 55px 0 0 180px;
  opacity: 0.8;
  font-family: Avenir-Roman;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  display: inline-block;
}

.infoTable {
  width: 90%;
  margin: 22px 0 0 40px;
  text-align: left;
  opacity: 0.8;
  font-size: 13px;
  color: #000000;
}

.infoTable tr {
  height: 20px;
  vertical-align: baseline;
}

.infoTable tr th {
  font-size: 11px;
  font-weight: normal;
  width: 90px;
  line-height: 27px;
  color: #50505a;
}

.infoTable tr td {
  width: 90px;
  font-size: 13px;
  line-height: 27px;
}

.infoTable tr td span {
  font-size: 10px;
}

.infoTable tr td ul {
  list-style-type: none;
}

.inputSearchWrapper {
  width: 300px;
  height: 35px;
  margin-bottom: 35px;
}

/* filter section Page Body */

.infoFilterBodyWrapper {
  padding: 40px 40px 0;
  box-shadow: 0 2px 4px 0 #efefef;
  border-radius: 4px;
  position: relative;
}

.infoFilterSectionTitle {
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: var(--skGrey4);
}

.infoFilterBodyWrapper .infoTable {
  width: auto;
  margin: 20px 0 0;
}

.infoFilterBodyWrapper .infoTable td,
.infoFilterBodyWrapper .infoTable th {
  padding-right: 100px;
}

.dateFilterSection {
  width: 45%;
  margin-bottom: 30px;
}

.dateFilterSection h6 {
  opacity: 0.8;
  font-family: Avenir-Roman;
  font-size: 12px;
  color: #000000;
  letter-spacing: 0;
}

.dateFilterSection span {
  opacity: 0.8;
  font-family: Avenir-Roman;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
}

.bgOpaque {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.applyBtn {
  margin: 20px;
  border: 0;
}

.closeIcon {
  position: absolute;
  right: 50px;
  cursor: pointer;
  font-size: 16px;
}