.navbarWapper {

}

.navButton {
    width: auto;
    height: 50px;
    padding: 10px;
    position: relative;
}

.navButton:before {
    font-size: 10px;
    transform: rotate(90deg);
    position: absolute;
    left: 10px;
    top: 8px;
    color: #A0A0A0;
}

.navButton a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navButton span {
    color: #7A858D;
    line-height: 10px;
    display: inline-block;
    font-family: Avenir-Heavy;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 10px;
    padding-left: 12px;
}

.navButton.active span {
    color: #0097D9;
}

.navButton.active:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    right: 0;
    display: block;
    z-index: 1000;
    transform: none;
    bottom: 0;
    background: #0098D6;
    top: auto;
}

.iconActive {
    color: #0097D5 !important;
}