.barChartStyle {

    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    /*width: 70%;*/
    /*margin-left: 12%;*/
}

.barChartStyle svg {
    width: 64%;
    margin-left: 15%;
    border-radius: 5px;
}

.barChartStyle svg g:nth-child(1) {
    fill: #005B80;
}

.barChartStyle svg g:nth-child(2) {
    fill: #ABDDF1;
}

.barChartStyle svg g:nth-child(3) {
    fill: #fff;
}

.barChartStyleColor {
    fill: rgb(171, 221, 241);
}
