.msgWrapper {
  position: fixed;
  top: 50px;
  right: 0;
  left: 0;
  width: 330px;
  display: flex;
  height: 60px;
  background: #000000;
  text-align: center;
  align-items: center;
  box-shadow: 0 11px 18px rgba(0, 0, 0, 0.1), 0 4px 13px rgba(0, 0, 0, 0.1);
  z-index: 100;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
}

.closeIcon {
  margin-left: 10px;
  color: #ffffff;
}

.closeAlert {
  display: none;
}

.msg {
  position: relative;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  font-family: Avenir-Medium;
}