
/* Schedule tab */

.schedulePanel {
    width: 100%;
    padding: 0 0 10px 0;
    margin: 0;
}

.schedulePanel .headerRow {
    height: 40px;
    width: 100%;
    font-family: monospace;
    text-transform: uppercase;
    display: inline-block;
}

.yearSection {
    display: inline-block;
    width: 22%;
    height: 100%;
    background: #FFFFFF;
    vertical-align: top;
}

.monthSection {
    display: inline-block;
    width: 78%;
    height: 100%;
    background: #EEEEEF;
    white-space: nowrap;
    overflow: auto;
}

.monthContent {
    width: auto;
    display: inline-block;
}

.divMonth {
    display: inline-block;
    width: 8.33%;
    height: 100%;
    border-left: 1px solid #E7E7E7;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
}

.schedulePanel .divMenuPanel {
    /* width: 25%; */
    /* display: inline-block; */
    background: #008FD6;
    /* overflow-x: scroll; */
    text-transform: uppercase;
    padding: 0 5px;
    overflow-y: hidden;
    vertical-align: top;
    text-align: left;
}

.schedulePanel .divGraphPanel {
    /* width: 75%; */
    display: inline-block;
    background: #FFFFFF;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}

.sideArrow{
    position: relative;
    width: 15px;
    height: 26px;
    top: 6px;
    right: 3px;
    transform: rotate(270deg);
}
.sortArrows i {
    position: relative;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #ffff;
    cursor: pointer;
}

.divMenuPanel .mpRow, .divMenuPanel .mpSubRow {
    height: 40px;
    display: table;
    width: 100%;
    font-family: monospace;
    color: #F8F8FD;
}
.subMenu{
    font-size: 8px;
    font-weight: normal
}

.divMenuPanel .mpSubRow {
    font-size: 13px;
}

span.dataRow {
    font-size: 12px;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
    font-family: Avenir-Roman;
}

.divGraphPanel .gpRow {
    height: 40px;
    display: table;
    width: 100%;
}

.divDay {
    display: inline-block;
    height: 100%;
}

.divSubDay {
    margin: 11px 0 0;
    /*border-top: 1px solid #EEEEEF;
    border-bottom: 1px solid #EEEEEF;*/
}

.activeMenu {
    background: #0084C4;
}

.headerBtn {
    padding: 7px 18px;
    border-radius: 10%;
    box-shadow: 0px 0px 1px 1px #E7E7E7;
}

.headerYear {
    margin: 0 20%;
}

.bgRed {
    background: #F10101;
}

.bgFededRed {
    background: #F3C5CB;
}

.bgBlue {
    background: #008FD6;
    /* background: url('../../images/CampaignPages/progressbar_filled.png') repeat 0 50%; */
}

.bgFadedBlue {
    background: #EEEEEF;
}

.bgWhite {
    background: #FFFFFF;
}

.divSubDayLeft {
    border-left: 1px solid rgb(216, 216, 231);
    border-radius: 4px 0 0 4px;
}

.divSubDayRight {
    border-right: 1px solid rgb(216, 216, 231);
    border-radius: 0 4px 4px 0;
}

.divSubDayBox {
    border-top: 1px solid rgb(216, 216, 231);
    border-bottom: 1px solid rgb(216, 216, 231);
}

.textCurrDate{
    /*padding-left: 59%;*/
    font-size: 10px;
    /*text-align: center;*/
    /* border-right: #E7E7E7 1px solid; */
    text-align: left;
    font-weight: normal;
}

.textCurrDate span{
    display: block;
    color: #0097D6;
    
}

.todayMarker{
    background: url("../../images/CampaignPages/red-bg.gif") repeat-y 50% 0;
}

.sortUp{
    transform: rotate(180deg); 
}

/* End schedule tab */