
.list {
    text-align: center;
    display: block;
    padding: 18px 0;
    font-weight: 100;
    font-size: 13px;
}

.dropdownMenu {
    background: #0098D6;
    height: auto;
    padding: 15px 0;
    width: 400px;
    position: absolute;
    right: 0;
    z-index: 100;
    top: 130%;
    border-radius: 5px;
}

.dropdownMenu ul {
    padding: 15px 0 0 20px;
    position: relative;
}

.dropdownMenu li {
    text-align: left !important;
    padding:5px 0px 0px 13px;
    font-size: 13px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #ffffffe6;
    transition: 0.1s linear;
}

.dropdownMenu ul li {
    width: calc(400px - 33px);
}

.dropdownMenu li:last-child {
    border-radius: 0 0 5px 5px;
}

.sortArrows {
  position: relative;
  padding: 18px 0;
}

.sortArrows .sortUp {
  position: relative;
  top: 7px;
  transform: rotate(90deg);
}

.sortArrows .sortDown {
  position: relative;
  top: 7px;
  transform: rotate(180deg);
  -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
}


