.wrapper {
  width: 259px;
  height: 405px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);
  border-radius: 4px;
  padding: 20px;
  position: relative;
  overflow: auto;
}

.title {
  font-family: Avenir-Medium;
  font-size: 16px;
  color: #50505a;
  letter-spacing: 0;
  font-weight: normal;
  margin-bottom: 10px;
}

.container {
  background: #ffffff;
  height: auto;
  margin-top: 30px;

}

.labelWrapper {
  margin-bottom: 40px;
}

.labelWrapper label {
  font-family: Avenir-Roman;
  font-size: 14px;
  color: #50505a;
  letter-spacing: 0;
  display: block;
  margin-bottom: 5px;
}

.labelTitle {
  font-size: 10px !important;
}

.donutWrapper {
  position: absolute;
  right: 10px;
  top: 50px;
  width: 100px;
  height: 50px;
}
