.wrapper {
  width: 300px;
  height: 100%;
  overflow: auto;
  background: #0097d6;
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
  border-radius: 4px;
  padding: 30px 0;
}

.listHeaderVal {
  font-family: Avenir-Heavy;
  font-size: 12px;
  color: #005b80;
  letter-spacing: 0;
  line-height: 12px;
  opacity: 0.8;
  background: #ffffff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 15px;
}

.listHeader {
  padding: 10px 30px;
  cursor: pointer;
}

.listHeader.active {
  background: rgba(0, 0, 0, 0.2);
}

.listHeader.active .listHeaderTitle {
  font-family: Avenir-Black;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  opacity: 1;
}

.listHeader.active .listHeaderVal {
  background: #ffffff;
  opacity: 1;
}

.listHeaderTitle {
  opacity: 0.8;
  font-family: Avenir-Black;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  margin-top: 4px;
}

.subMenuListItem {
  opacity: 0.8;
  font-family: Avenir-Roman;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 15px 0 15px 70px;
}

.navigatorList {
  list-style-type: none;
  margin-bottom: 10px;
}
