.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.loaderImage {
  background: url('../../images/Loading_icon.gif') no-repeat;
  width: 300px;
  height: 300px;
  background-position: center center;
  background-size: cover;
}
