.row {
  width: 100%;
}

.secondRow {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.locationContainer {
  box-shadow: none;
}

.locationSectionTitle {
  font-family: Avenir-Heavy;
  font-size: 16px;
  color: #50505a;
}

.locationWrapper {
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 25px;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  background: #ffffff;
}

.locationCondition {
  width: 100% !important;
}

.includeLocation {
  flex: 1;
}

.locationDropdown {
  flex: 2;
  margin: 15px 0 0 8px;
  position: relative;
}

.search {
  position: absolute;
  margin-top: 5px;
  background: #0098d6;
  color: #ffffff;
  width: 100%;
  z-index: 999;
}

.searchItems {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;
}

.searchItems li {
  list-style: none;
  padding: 0 5px;
}

.headerSearch {
  width: 100%;
  background: url(http://localhost:8090/37b81a0….png) no-repeat 96%, transparent;
  position: relative;
  border-bottom: 1px solid #cccccc;
  padding: 6px;
  font-family: Avenir-Medium;
  font-size: 12px;
  color: #7a858d;
  letter-spacing: 0;
}

.locationMap {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-top: 20px;
  position: relative;
}

.browseBtn {
  position: relative;
  background: #aaddf0;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 20px;
  color: #000000;
  margin: 10px 0 35px 10px;
  box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);

}

.browseDropDown {
  position: absolute;
  top: 0;
  left: 0;
}

.selectedLocation {
  position: relative;
  background: #0098d6;
  color: #ffffff;
  width: 100%;
}

.selectedLocation span {
  padding: 8px;
}

.locationBtnWrapper {
  margin-top: 30px;
  width: 100%;
}

/* from newcampaign css */

.title {
  font-family: Avenir-Medium;
  font-size: 16px;
  color: #50505a;
  letter-spacing: 0;
  font-weight: normal;
  margin-bottom: 10px;
}

.overviewIcon {
  margin: 0 5px;
  font-size: 24px;
  position: relative;
  top: 7px;
  color: #757575;
}

.container {
  background: #ffffff;
  height: auto;
  box-shadow: 0 2px 4px 0 rgba(156, 156, 156, 0.5);
  border-radius: 4px;
  padding: 20px 0;
  margin-bottom: 25px;
}

.objectiveWrapper {
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.locationBrowse {
  background: #aaddf0;
  margin: 10px 0 35px 25px;
}

/* from newcampaign css */

/* target starts here */

.overviewWrapper {
  width: 100%;
  margin-top: 30px;
}

.targetWrapper {
  padding: 25px;
}

.demographicsLabel {
  font-family: Avenir-Medium;
  font-size: 12px;
  color: #50505a;
  letter-spacing: 0;
  margin-bottom: 5px;
  display: inline-block;
}

.demographicsList {
  background: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px 0;
  margin-bottom: 5px;
}

.demographicsList li {
  opacity: 1;
  font-family: Avenir-Roman;
  font-size: 13px;
  color: #000000;
  letter-spacing: 0;
  list-style-type: none;
  border-bottom: 1px solid #cccccc;
  margin: 0 20px;
  padding: 10px 0;
}

.demographicsList li:last-child {
  border-bottom: 0;
}

/* target ends here */