.table {
  border: 1px solid #ddd;
  font-family: Avenir-Roman;
  font-size: 12px;
  color: #50505A;
  letter-spacing: 0;
  position: relative;
  user-select: none;
}

.dropArrow {
  position: absolute;
  width: 15px;
  height: 26px;
  top: 7px;
}

.sideArrow {
  position: absolute;
  width: 15px;
  height: 26px;
  top: 0;
  right: -15px !important;
  transform: rotate(270deg);
  left: 2px !important;
}

.row {
  display: flex;
  min-width: 960px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;

}

.row > div{
  width: 10%;
}

.row .rowMargin {
  width: 4%;
  text-align: center;
}

.row .rowMarginInner {
  width: 6% ;
}

.headerRow {

  display: flex;
  justify-content: space-around;

  background: #0097D6;
  box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.50);
}

.icon {
  cursor: pointer;
  font-size: 12px;
  transform: scale(2);
}
