@import './colors.css';

/* ::: RESET STYLES STARTS ::: */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: Avenir-Roman;
    src: url(./utils/fonts/avenir-roman.ttf);
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Avenir-Roman', 'arial';
  color: var(--black);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.rootChild {
  height: 100%;
}

a,
button,
input {
  outline: none;
  border: 0;
  background: none;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

/* ::: RESET STYLES ENDS ::: */

/* ::: COMMONLY USED CLASSES STARTS ::: */

.fLeft {
  float: left;
}

.fRight {
  float: right;
}

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  clear: both;
}

.clearall {
  clear: both;
}

.text-capitalized {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-prevent-break {
  white-space: nowrap;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.padding-0 {
  padding: 0;
}

.padding-lr-25 {
  padding-left: 25px;
  padding-right: 25px;
}

.padding-t-25 {
  padding-top: 25px;
}

.display-block {
  display: block;
}

.width-height-100per {
  width: 100%;
  height: 100%;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ::: COMMONLY USED CLASSES ENDS ::: */

/* ::: CLASSES FOR TESTING STARTS ::: */

.background-test {
  background: rgba(0, 0, 0, 0.1);
}

/* ::: CLASSES FOR TESTING  ENDS ::: */

/* ::: TYPOGRAPHY material icons STARTS HERE ::: */

/* fallback */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v31/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/* ::: TYPOGRAPHY material icons ENDS HERE ::: */

.primaryBtn {
  height: 40px;
  width: auto;
  border: 1px solid #dce0e0;
  text-align: center;
  padding: 0 20px;
  font-family: Avenir-Roman;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  border-radius: 5px;
}

.primaryInput {
  width: 250px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
}

.inputWrapper {
  width: 250px;
  vertical-align: bottom;
  padding-bottom: 5px;
  float: left;
  margin: 21px 25px;
}

.blueBg {
  background: #0098d6;
  color: var(--white);
}

.progressbar-progress {
  background: #005b80 !important;
  border-radius: 4px;
}

/* body wrapper classes starts here */

.bodyWrapper {
  height: 100%;
  width: 100%;
  background: #f6f6f8;
}

.cmBodyWrapper {
  width: 93%;
  height: calc(100% - 110px);
  margin: 50px auto 0;
  overflow: auto;
  padding: 0;
}

/* body wrapper classes ends here */

.heading2 {
  font-family: Avenir-Heavy;
  font-size: 32px;
  color: #50505a;
  letter-spacing: 0;
}

.heading4 {
  font-family: Avenir-Medium;
  font-size: 21px;
  color: #50505a;
  letter-spacing: 0;
}

/* tooltip starts here */

.tooltipWrapper {
  position: relative;
  cursor: pointer;
}

.tooltipWrapper .tooltip {
  background: #0098d6;
  bottom: 100%;
  height: 30px;
  color: #ffffff;
  display: block;
  left: -40px;
  margin-bottom: 15px;
  opacity: 0;
  padding: 10px;
  pointer-events: none;
  position: absolute;
  min-width: 100px;
  z-index: 1000;
  top: 50px;
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltipWrapper .text {
  color: #0097D6;
}

.tooltipWrapper .tooltip:before {
  bottom: -20px;
  content: ' ';
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* CSS Triangles - see Trevor's post */
.tooltipWrapper .tooltip:after {
  top: -5px;
  content: ' ';
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0098d6;
}

.tooltipWrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  top: 100%;
}

[role] {
  outline: none;
}