.table {
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    margin: 5px 0;
    padding: 10px 0;
}

.table tr {
    /* font-size: 10px;*/
    padding-top: 30px;
    margin-left: -106px;
}

.table tr td {
    font-family: Avenir-Roman;
    font-size: 12px;
    color: #485465;
    letter-spacing: 0.14px;
    min-width: 40px;
    text-align: left;
}

.progressbar {
    width: 300px;
    /*border: 1px solid #DDDDDD;*/
    border-radius: 5px;
    height: 10px;
    margin: 10px 10px;
    background-color: #A7DDEE;
}

.bar {
    background-color: lightblue;
    border-radius: 20px;
}

.progressbarWrapper {

}

