.wrapper {

}

.bar {
  background: #e0e0e0;
  border-radius: 40px;
  width: 80px;
  height: 6px;
  margin: 0 2px;
}

.active {
  background: #0097d9;
}

.navButton {
  font-family: Avenir-Roman;
  font-size: 12px;
  color: #0080b3;
  letter-spacing: 0;
  margin: 0 5px;
}

.buttonWrapper {
  margin: -11px 0 0 30px;
}

.navButton:disabled {
  color: rgb(188, 194, 203);
}

@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px) {

  .bar {
    width: 70px;
  }
}